.header {
    display: flex;
}

h1 {
    margin: 0;
    padding: 10px;
}

.red-text {
    color: red;
}

.topics {
    padding-bottom: 1rem;
}

.outcomes {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
}

.content.hidden {
    display: none;
}

textarea {
    width: 750px;
    height: 175px;
}

.item1 {
    color: red;;
}

.item2 {
    color: blue;
}

.item3 {
    color: green
}

.item4 {
    color: blueviolet;
}

.item5 {
    color: darkorange;
}

.item6 {
    color: magenta;
}