.header {
    display: flex;
}

h1 {
    margin: 0;
    padding: 10px;
}

#item1 {
    color: green;
}

#item2 {
    color: blue;
}

#item3 {
    color: red;
}

#item4 {
    color: darkmagenta;
}

#item5 {
    color: darkorange;
}

#item6 {
    color: darkslategrey;
}

#notes textarea{
    color: black;
}

#notes.error textarea{
    color: red;
}